<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'grumblr/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Customized CSS -->
    <link href="{% static 'grumblr/css/bootstrap-grumblr.css' %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'grumblr/images/favicon.ico' %}">
    <title>grumblr</title>
</head>
<body>
    <h1>Sorry, that page doesn’t exist!</h1>
</body>
</html>