<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <title>Calculator</title>
</head>
<body>

<div class="container">

    <div class="result">
        {% if number_value %}
        {{number_value}}
        {% endif %}

    </div>
    <form action="/calculator/" method="get">

        <div class="first-row">
            <button class="number" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}7">7</button>
            <button class="number" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}8">8</button>
            <button class="number" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}9">9</button>
            <button class="otherbutton" type="submit" value="+">+</button>
        </div>
        <div class="second-row">
            <button class="number" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}4">4</button>
            <button class="number" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}5">5</button>
            <button class="number" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}6">6</button>
            <button class="otherbutton" type="submit" value="-">-</button>
        </div>
        <div class="third-row">
            <button class="number" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}1">1</button>
            <button class="number" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}2">2</button>
            <button class="number" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}3">3</button>
            <button class="otherbutton" type="submit" value="x">x</button>
        </div>
        <div class="third-row">
            <button class="zero" name="number" type="submit" value="{% if number_value %}{{number_value}}{% endif %}0">0</button>
            <button class="otherbutton" type="submit" value="=">=</button>
            <button class="otherbutton" type="submit" value="/">/</button>
        </div>
        {% csrf_token %}
    </form>
</div>

</body>
</html>