body {
  display: table;
  position: absolute;
  height: 100%;
  width: 95%;
  min-width: 320px;
}
.container{
    margin: 0 auto;
    width: 320px;
}
.result {
    display:block;
    width:310px;
    height:70px;
    margin:30px 5px;
    text-align: right;
    border:0;
    background:#3b3535;
    color:#fff;
    padding-top:20px;
    font-size:40px;
    letter-spacing: 4px;
    background-color: #2a383f;
    border-radius: 10px;
}
.first-rows {
    margin-bottom: 20px;
}
.number{
    width:70px;
    height:70px;
    margin-left:5px;
    margin-bottom: 7px;
    border-radius: 15px;
    background-color: pink;
    font-size:20px;
    color: #2a383f;
}
.number:hover{
    background-color: #f291a6;
}
.zero{
    width:150px;
    height:70px;
    margin-left:5px;
    border-radius: 15px;
    background-color: pink;
    font-size:20px;
    color: #2a383f;
}
.zero:hover{
    background-color: #5aacf4;
}
.otherbutton{
    width:70px;
    height:70px;
    margin-left:5px;
    margin-bottom: 7px;
    border-radius: 15px;
    background-color: #b6e3f9;
    font-size:20px;
    color: #2a383f;
}
.otherbutton:hover{
    background-color: #5aacf4;
}