<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Registration</title>
</head>
<body>
<form>
    Create a student:<br><br>
    Andrew ID:<input type="text" name="andrewid"><br>
    First name:<input type="name" name="firstname"><br>
    Last name:<input type="name" name="lastname"><br>
    <input type="submit" value="Submit">
</form><br><br>
<form>
    Create a course:<br><br>
    Course#:<input type="text" name="andrewid"><br>
    Course name:<input type="name" name="firstname"><br>
    Instructor:<input type="name" name="lastname"><br>
    <input type="submit" value="Submit">
</form><br><br>
<form>
    Register a student for a course:<br><br>
    Andrew ID:<input type="text" name="andrewid"><br>
    Course#:<input type="name" name="lastname"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>